.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

.my-own-radio-css-class {
 background-color: red;
}

.my-custom-text-area-css {
  background-color: gray;
}